@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Poppins:wght@300;400;500&display=swap");

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  background-color: #f2f2f2;
  color: #2b2b2b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chrome {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 40px;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  line-height: 1;
  user-select: none;
}

h1 {
  font-size: 24px;
  font-weight: 400;
}

.number-of-midpoints-form {
  display: flex;
  align-items: center;
  font-weight: 300;
}

.number-of-midpoints-form input {
  margin-left: 0.75em;
}

#number-of-colors {
  min-width: 2em;
  text-align: center;
}

main {
  grid-area: main;
  display: grid;
  grid-gap: 2px;
  overflow: hidden;
  overflow-x: auto;
}

.start,
.end {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.start:focus-within,
.end:focus-within {
  outline: 2px solid black;
  box-shadow: 0 0 0 2px inset white;
}

.start input,
.end input {
  width: 0;
  height: 0;
  opacity: 0;
  border: 0;
}

.label {
  position: absolute;
  top: 1.5em;
  text-align: center;
  background-color: #f2f2f2;
  padding: 0.25em 0.5em;
  line-height: 1.25;
  margin: 0 0.5em;
  user-select: none;
  font-weight: 500;
}

.midpoints {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2px;
}

.midpoints > div {
  min-width: 80px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-code {
  font-family: "Inconsolata", monospace;
  background-color: #f2f2f2;
  padding: 0.5em;
  font-weight: 500;
}

footer {
  grid-area: footer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  font-size: 14px;
  color: inherit;
  cursor: pointer;
}

@media (max-width: 720px) {
  .chrome {
    grid-template-rows: 120px 1fr 40px;
  }
  header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  h1 {
    margin-bottom: 1em;
  }
  main {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .start,
  .end,
  .midpoints > div {
    min-height: 60px;
    justify-content: flex-end;
    align-items: center;
    top: auto;
  }
  .color-code {
    margin-right: 1em;
  }
  .label {
    left: 0;
    top: auto;
    margin-left: 1em;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: #d4d4d4;
  }
  .start:focus-within,
  .end:focus-within {
    outline: 2px solid white;
    box-shadow: 0 0 0 2px inset black;
  }
  .label {
    background-color: black;
    color: #d4d4d4;
  }
  .color-code {
    background-color: black;
    color: #d4d4d4;
  }
}
